<div>
  <h1 class="mb-1 title">修改餐廳資料</h1>
  <form action="/restaurants/{{ restaurantData._id }}?_method=PUT" method="POST">

    <div class="mb-3">
      <label for="name" class="form-label">餐廳中文店名<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="name" placeholder="" name="name" value="{{ restaurant.nam }}" required />
    </div>

    <div class="mb-3">
      <label for="name_en" class="form-label">餐廳英文店名<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="name_en" placeholder="" name="name_en"
        value="{{ restaurant.name_en }}" required />
    </div>

    <div class="mb-3">
      <label for="category" class="form-label">料理類型<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="category" placeholder="" list="categoryOptions" name="category"
        value="{{ restaurant.category }}" required />
      <datalist id="categoryOptions">
        <option>台式料理</option>
        <option>美式料理</option>
        <option>中式料理</option>
        <option>日式料理</option>
        <option>韓式料理</option>
        <option>東南亞料理</option>
        <option>中東料理</option>
        <option>歐式料理</option>
        <option>咖啡甜點</option>
      </datalist>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">餐廳照片網址<span class="text-danger">*</span></label>
      <input type="url" class="form-control" id="image" name="image" placeholder="" value="{{ restaurant.image }}" required />
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">餐廳地址<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="location" placeholder="" name="location"
        value="{{ restaurant.location }}" required />
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">餐廳電話<span class="text-danger">*</span></label>
      <input type="tel" class="form-control" id="phone" placeholder="" name="phone"
        value="{{ restaurant.phone}}" required />
    </div>

    <div class="mb-3">
      <label for="google_map" class="form-label">Google 地圖連結<span class="text-danger">*</span></label>
      <input type="url" class="form-control" id="google_map" name="google_map" placeholder="" value="{{ restaurant.google_map}}" required />
    </div>

    <div class="mb-3">
      <label for="rating" class="form-label">評分<span class="text-danger">*</span></label>
      <input type="number" class="form-control" id="rating" min="0" max="5" step="0.1" placeholder="" name="rating" value="{{ restaurant.rating}}" required />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">敘述<span class="text-danger">*</span></label>
      <textarea class="form-control" id="description" row="5" name="description"
        required>{{ restaurant.description }}</textarea>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">
        完成修改
      </button>
      <a href="/">
        <button type="button" class="btn btn-outline-secondary">
          返回首頁
        </button>
      </a>
      <button type="reset" class="btn btn-outline-danger">重新輸入</button>
    </div>
    
  </form>
</div>
