<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">搜尋餐廳</h4>
        <div class="input-group">

          <input type="text" name="keyword" class="form-control" placeholder="請輸入餐廳名稱或餐廳類別..."
            aria-label="Restaurant Name..." value="{{ keyword }}" aria-describedby="search-button">

          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <h4 class="mt-4"><a href="/restaurants/new" class="btn btn-major"><i class="fa-solid fa-plus"></i> 新增餐廳</a></h4>

</div>



<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#each restaurants}}
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card mb-3">
            <img class="card-img-top" src="{{ this.image }}" alt="{{ this.name }}">

            <div class="card-body">
              <a href="/restaurants/{{ this._id }}" class="text-dark">
                <h6 class="card-title">{{ this.name }}</h6>
              </a>
              <div class="row justify-content-between">
                <div class="col-8">
                  <div class="restaurant-category">
                    <i class="fas fa-utensils pr-2"></i> {{ this.category }}
                  </div>
                </div>
                <div class="col-4">
                  <div class='restaurant-rating badge rounded-pill bg-danger font-weight-normal'>
                    {{ this.rating }}
                    <i class="fa-solid fa-star fa-xs"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer d-flex justify-content-end flex-wrap">
              <form action="/restaurants/{{this._id}}/edit?_method=GET" style="display: inline;">
                <button type="submit" class="btn btn-outline-primary btn-sm m-1"><i
                    class="fa-regular fa-pen-to-square"></i> 編輯餐廳</button>
              </form>
              <form action='./restaurants/{{this._id}}/delete?_method=DELETE' method='POST' style='display: inline;'>
                <button type="submit" class="btn btn-outline-danger btn-sm m-1"><i class="fa-solid fa-trash"></i>
                  刪除餐廳</button>
              </form>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>